<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias tech</title>
</head>

<body>
    <h1>Noticias</h1>
    <a href="/noticia">Noticias teste q n funciona</a>

    <table>
        <tr>
            <td>id</td>
            <td>
                Titulo
            </td>
            <td>
                Noticia
            </td>
        </tr>

        <%
        for (let i = 0; i < noticias.length; i++) {
        %>

            <tr>
                <td>
                    <%= noticias[i].id %>
                </td>
                <td>
                    <%= noticias[i].titulo %>
                </td>
                <td>
                    <%= noticias[i].noticia %>
                </td>
            </tr>

            <%
        }
            %>

    </table>

</body>

</html>